* {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 600px) {


    header {
        display: flex;
        justify-content: center;
        background-image: url("assets/Header\ Background.svg");
        background-size: cover;
        background-position: 76%;
        height: 505px;
        width: 100%;
    }

    .banner {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .texto-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-1 h1 {
        font-family: Luckiest Guy;
        color: white;
        width: 275px;
        height: 64px;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    .texto-1 p {
        font-family: Open Sans;
        color: #ffff;
        font-size: small;
        font-size: 13.7px;
        word-wrap: break-word;
    }

    .texto-1 button {
        border-radius: 28px;
        height: 55px;
        width: 100%;
        align-items: center;
        margin-top: 15px;
    }

    #button-1 {
        background-color: white;
        color: black;
        border: solid 1px transparent;
        margin-top: 25px;
    }

    #button-2 {
        background-color: rgb(22, 21, 21);
        color: white;
        border: solid 1px transparent;
    }

    section {
        height: 535px;
        width: 100%;
    }

    .container-1 img {
        width: 380px;
        height: 252px;
        margin-top: 35px;
    }

    .container-1 h1 {
        font-family: Open Sans;
        font-size: 20px;
        word-wrap: break-word;
        font-weight: 900;
        color: black;
        margin-left: 20px;
        margin-top: 20px;
    }

    .container-1 p {
        font-family: Open Sans;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 15px;
        color: #23272A;
    }

    .container-2 {
        background-color: #F6F6F6;
    }

    .container-2 img {
        width: 340px;
        height: 252px;
        margin-top: 25px;
        margin-left: 15px;
    }

    .container-2 h1 {
        font-family: Open Sans;
        font-size: 20px;
        word-wrap: break-word;
        font-weight: 900;
        color: #23272A;
        margin-left: 20px;
        margin-top: 20px;
    }

    .container-2 p {
        font-family: Open Sans;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 15px;
        color: #23272A;
    }

    .container-3 {
        background-color: white;
    }

    .container-3 img {
        width: 340px;
        height: 252px;
        margin-top: 25px;
        margin-left: 15px;
    }

    .container-3 h1 {
        font-family: Open Sans;
        font-size: 20px;
        word-wrap: break-word;
        font-weight: 900;
        color: #23272A;
        margin-left: 20px;
        margin-top: 20px;
    }

    .container-3 p {
        font-family: Open Sans;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 15px;
        color: #23272A;
    }

    .container-4 {
        background-color: #F6F6F6;
    }

    .container-4 img {
        width: 340px;
        height: 252px;
        margin-left: 15px;
    }

    .texto-4 h1 {
        font-family: Luckiest Guy;
        font-size: 30px;
        color: #23272A;
        margin-left: 20px;
        letter-spacing: 2px;
        margin-bottom: 0px;
        padding-top: 30px;
    }

    .texto-4 p {
        font-family: Opens sans;
        margin-left: 20px;
        margin-top: 25px;
        font-size: 17.5px;
        color: #23272A;
    }

    footer {
        background-color: #23272A;
        height: 140px;
        width: 102%;
    }

    .discord {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .discord img {
        width: 200px;
    }
}

@media screen and (min-width: 950px) {

    header {
        background-image: url("assets/Header\ Background.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1, 280px;
        height: 540px;
    }

    .banner {
        display: flex;
        justify-content: center;
        padding: 100px;
        padding-left: 100px;
    }

    .texto-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 860px;
    }

    .texto-1 h1 {
        font-family: Luckiest Guy;
        color: white;
        letter-spacing: 2px;
        font-weight: 600px;
        font-size: 60px;
        width: 500px;
        height: 112px;
        margin-left: 210px;
        text-align: center;
        margin-bottom: 40px;
    }

    .texto-1 p {
        font-family: Open Sans;
        font-size: 16px;
        text-align: center;
        color: white;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 44px;
        gap: 15px;

    }

    #button-1 {
        background-color: white;
        color: black;
        border-radius: 50px;
        border: 1px solid transparent;
        width: 205px;
    }

    #button-2 {
        background-color: #23272A;
        color: white;
        border: 1px solid transparent;
        border-radius: 50px;
        width: 281px;
    }


    .container-1 {
        display: flex;
        flex-direction: row;
        margin-left: 250px;
    }

    .texto-2 {
        font-family: Open sans;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 348px;
        height: 374px;
        margin-top: 40px;
    }

    .texto-2 h1 {
        font-weight: 900;
        font-size: 35px;
        text-align: left;
        color: #23272A;
    }

    .container-2 {
        background-color: #F6F6F6;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .texto-3 {
        font-family: Open sans;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 90px;
        margin-left: 50px;
        width: 351px;
        height: 212px;
    }

    .texto-3 h1 {
        color: #23272A;
        font-weight: 900;
    }

    .container-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .texto-5 {
        font-family: open sans;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 351px;
        height: 234px;
    }

    .texto-5 h1 {
        color: #23272A;
        font-weight: 900;
        font-size: 35px;
    }

    .container-4 {
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
    }

    .container-4 img {
        width: 784px;
        height: 508px;
        margin-left: 400px;
        margin-bottom: 75px;
    }

    .texto-4 {
        margin-top: 60px;
        margin-left: 400px;

    }

    .texto-4 h1 {
        font-family: Luckiest Guy;
        letter-spacing: 2px;
        color: #23272A;
        font-size: 35px;
        width: 608px;
        height: 80px;
        text-align: center;
        margin-bottom: 25px;
        text-align: center;
        margin-left: 100px;
    }

    .texto-4 p {
        font-family: open sans;
        width: 802px;
        height: 44px;
        color: #23272A;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    footer {
        background-color: #23272A;
        height: 140px;
        width: 100%;
    }

    .discord {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .discord img {
        width: 200px;
    }
}